name: Gerar APK Android
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - uses: actions/setup-python@v5
      with:
        python-version: '3.11'
        
    - run: pip install flet
    
    - run: flet build apk --module-name main
    
    - uses: actions/upload-artifact@v4
      with:
        name: retro-estante-apk
        path: build/apk/*.apk
